body {
    background-color: #222;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 600;
    padding-top: 50px;
}
.block {
    width: 30%;
    height: 100px;
    border: 1px solid #666;
    font-size: 1.2em;
    text-align: center;
    padding-top: 10px;
    margin-left: 10px;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.actionbar {
    top: 0;
    height: 53px;
    background-color: #333;
    color: #fff;
    padding: 12px;
    font-size: 30px;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.actionbar i {
    padding-right: 10px;
}

.logo {
    font-weight: 300;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 30px;
}

a, a:hover {
    color: #fff;
    text-decoration: none;
}

a:active {
    color: #000;
    background-color: #fff;
    text-decoration: none;
}

.stats {
    width: 100%;
    color: #fff;
    padding: 20px;
    display: block;
    text-align: center;
}

.stats .permil {
    font-size: 6em;
    font-weight: 200;
}

#chart {
    width: 100%;
    height: 150px;
}
.drink_responsibly_popup {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 35px;
    padding: 10px;
}
.drink_responsibly_popup a {
    color: #000;
}
.history {
    color: #fff;
}